@import 'src/shared/constants/colours.styles';

@mixin colors($isBackgroundColor, $hasBorder: false) {
    &--success {
        @if $isBackgroundColor {
            background-color: darken(#20bf6b, 15%);
        } @else {
            color: darken(#20bf6b, 15%);
        }

        @if $hasBorder {
            border-top: 1px solid darken(#20bf6b, 15%);
            border-bottom: 1px solid darken(#20bf6b, 15%);
            border-right: 1px solid darken(#20bf6b, 15%);
        }
    }

    &--default {
        @if $isBackgroundColor {
            background-color: $font-color;
        } @else {
            color: $font-color;
        }

        @if $hasBorder {
            border-top: 1px solid $font-color;
            border-bottom: 1px solid $font-color;
            border-right: 1px solid $font-color;
        }
    }

    &--warning {
        @if $isBackgroundColor {
            background-color: #ee543a;
        } @else {
            color: #ee543a;
        }

        @if $hasBorder {
            border-top: 1px solid #ee543a;
            border-bottom: 1px solid #ee543a;
            border-right: 1px solid #ee543a;
        }
    }

    &--danger {
        @if $isBackgroundColor {
            background-color: darken(#e3000e, 15%);
        } @else {
            color: darken(#e3000e, 15%);
        }

        @if $hasBorder {
            border-top: 1px solid darken(#e3000e, 15%);
            border-bottom: 1px solid darken(#e3000e, 15%);
            border-right: 1px solid darken(#e3000e, 15%);
        }
    }
}

.toast-container {
    position: fixed;
    right: 1.5em;
    min-width: 20em;
}

.toast-flex-container {
    display: flex;
    min-height: 3.5em;
    border-radius: 0.25em;
    @include colors(false, true);
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-right {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.toast__close::after {
    content: '\00D7';
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    right: 0.25em;
}

.toast__close:hover::after {
    filter: opacity(0.5);
}

.toast__highlight {
    min-width: 0.25em;
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    @include colors(true);
}

.toast__body {
    padding: 0.5em;
    background-color: whitesmoke;
    flex: 1 1 0;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    > p {
        margin: 0;
    }
}

.toast-flex-container + .toast-flex-container {
    margin-top: 0.5em;
}
