@import 'src/shared/constants/colours.styles';
.documents-table {
    background-color: whitesmoke;
    min-width: 100%;
    border-collapse: collapse;

    th {
        text-align: left;
        border-bottom: 1px solid #485460;
        padding: 0.5em;
        background-color: #dfe6e9;
    }

    td {
        padding: 0.25em 0.5em;
        border-bottom: 2.5px solid #d2dae2;
        line-height: 1.85;
        user-select: none;

        &:last-child {
            min-width: 3em;
            max-width: 3em;
        }

        &:nth-child(2) {
            min-width: 6em;
            max-width: 6em;
        }
    }

    tbody tr:nth-child(even) {
        background-color: #dfe6e9;
    }

    tbody tr:hover {
        background-color: $primary;
        color: whitesmoke;

        .action-list {
            display: flex;
            justify-content: flex-end;
        }
    }

    .action-list {
        display: none;
    }
}

.tag {
    background-color: $primary;
    border: 1px solid $primary-active;
    padding: 0 0.25em;
    font-size: 0.66rem;
    color: whitesmoke;
    border-radius: 0.25em;
    display: inline-block;
    margin-right: 0.25em;
    font-weight: 400;
    cursor: default;
    user-select: none;
    
    &.is-active {
        background-color: $primary-active;
    }
}