@import 'src/shared/constants/colours.styles';
.grid-container {
  display: grid;
  grid-template-columns: [sidebar] 7.5em [main] 1fr;
  grid-template-rows: 100vh;
}

.main-grid {
  grid-column: main;
  background-color: whitesmoke;
  padding: 1.5em;
  display: flex;
}

.sidenav-grid {
  grid-column: sidebar;
  background-color: $sidenav-back-colour;
}