@import 'src/shared/constants/colours.styles';
.action {
    padding: 0.25em;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color: $sidenav-back-colour;
    max-width: 2em;
    max-height: 1.9em;

    &:hover {
        background-color: $primary;
        .fabric-ui-icon {
            transform: scale(1.2);
            color: white;
        }

        
    }

    &--mini {
        max-width: 1.33em;
        max-height: 1.33em;
    }

    &--mini:hover {
        background-color: #dfe6e9;
    }

    &--danger:hover {
        background-color: #CF000F;
    }
    
    
}

.action + .action {
    margin-left: 0.33em;
}
