@import 'src/shared/constants/colours.styles';

:root {
    box-sizing: border-box;
}

@media (max-width: 35em) {
    :root {
        font-size: calc(1vw + 0.65em);
    }
}

@media (max-width: 50em) {
    :root {
        font-size: calc(1vw + 0.5em);
    }
}

*,
::before,
::after {
    box-sizing: inherit;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 100%;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;

    &:hover {
        background: #555;
    }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    max-width: 100%;
}

.app {
    margin: 0 auto;
}

.content-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.content-header__action-list {
    display: flex;
    justify-content: center;
    .action {
        margin-left: 0.33em;
    }
}

.content-panel {
    background-color: #d2dae2;
    border-radius: 0.5em;
    padding: 1em;
    overflow-y: auto;
    flex: 1;
    
    &--left-top-radius-deactivate {
        border-top-left-radius: 0;
    }
    
    &--semi {
        max-width: 50%;
    }
}
