@import "src/shared/constants/colours.styles";
.button {
  color: $font-color;
  background-color: #d2dae2;
  padding: 1em;
  min-width: 5em;
  border: none;
  border-radius: 0.25em;
  transition: 200ms ease;
  
  
  
  &:hover {
    background-color: $primary;
    color: whitesmoke;
  }

  &:active {
    background-color: $primary-active;
  }
  
  &:focus {
    outline: none;
  }
  
  &--primary {
    background-color: $primary-active;
  }
  
  &--secondary {
  }
  
  &--danger {
    
  }
  
  &--warning {
    background-color: red;
  }
}

