.fabric-ui-icon {
    color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 250ms ease;
    padding: 0.25em;

    &--nav {
        font-size: 1.75rem;
    }

    &--mini {
        font-size: 1.25rem;
    }

    &--more {
        display: inline-block;
        margin-left: 0.25em;
        margin-bottom: 0.1em;
        padding: 0;
        font-size: 1rem;
        vertical-align: bottom;
    }
    
    &--progress {
        display: inline-block;
        cursor: default;
    }
}
