@import 'src/shared/constants/stacking.styles';
@import 'src/shared/constants/colours.styles';

.user-page {
  &__backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #485460;
    filter: opacity(85%);
    z-index: $user-modal-container;
  }

  &__body {
    display: flex;
    position: fixed;
    top: 1.5em;
    bottom: 1.5em;
    left: 20vw;
    right: 20vw;

    z-index: $user-modal-container;
  }

  &__close {
    position: absolute;
    right: 0.5em;
    top: 0;
    color: green;

    &::after {
      content: '\00D7';
      cursor: pointer;
      font-size: 2rem;
    }
    &:hover {
      color: darkblue;
    }
  }
}