@import 'src/shared/constants/colours.styles';
@import 'src/shared/constants/stacking.styles';
.popup__backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: opacity(85%);
    z-index: $popup-backdrop;
}

.popup {
    position: absolute;
    border: 1px solid $primary-active;
    border-top: 0;
    border-radius: 0 0 0.25em 0.25em;
    padding: 0.25em;
    background-color: whitesmoke;
    margin-top: 0.5em;
    z-index: $popup;
    transform: translateX(-1em);
    
    .tag {
        cursor: pointer;
    }
}
