@using PostDog.Web.Helpers
@model PostDog.Web.ViewModels.SetupViewModel

@{
    Layout = "_SetupLayout";
}

<div class="setup-container">
    <form asp-action="Index" asp-controller="Setup" method="post">
        <div class="form-row">
            <div class="form-row__header">Database settings - Docker update Test</div>
        </div>
        <div class="form-row">
            <div class="form-row__label">
                <label for="database-select">Database type</label>
                <span class="form-row__mandatory">*</span>
            </div>
            <div class="form-row__input">
                <select id="database-select" asp-for="DatabaseProvider" asp-items="Model.DataBaseSelectList"></select>
            </div>
        </div>
        <div class="form-row form-row--validation"><span asp-validation-for="DatabaseProvider" class="form-validation-result"></span></div>

        <div class="form-row @Html.IsInvisible(Model.ShowDatabaseFields)">
            <div class="form-row__label">
                <label for="database-host">Host</label>
                <span class="form-row__mandatory">*</span>
            </div>
            <div class="form-row__input">
                <input type="text" asp-for="DatabaseHost" id="database-host">
            </div>
        </div>
        <div class="form-row form-row--validation @Html.IsInvisible(Model.ShowDatabaseFields)">
            <span asp-validation-for="DatabaseHost" class="form-validation-result"></span>
        </div>

        <div class="form-row @Html.IsInvisible(Model.ShowDatabaseFields)">
            <div class="form-row__label">
                <label for="database-port">Port</label>
                <span class="form-row__mandatory">*</span>
            </div>
            <div class="form-row__input">
                <input type="number" asp-for="DatabasePort" id="database-port">
            </div>
        </div>
        <div class="form-row form-row--validation @Html.IsInvisible(Model.ShowDatabaseFields)">
            <span asp-validation-for="DatabasePort" class="form-validation-result"></span>
        </div>

        <div class="form-row @Html.IsInvisible(Model.ShowDatabaseFields)">
            <div class="form-row__label">
                <label for="database-user">Database User</label>
                <span class="form-row__mandatory">*</span>
            </div>
            <div class="form-row__input">
                <input type="text" asp-for="DatabaseUser" id="database-user">
            </div>
        </div>
        <div class="form-row form-row--validation @Html.IsInvisible(Model.ShowDatabaseFields)">
            <span asp-validation-for="DatabaseUser" class="form-validation-result"></span>
        </div>

        <div class="form-row @Html.IsInvisible(Model.ShowDatabaseFields)">
            <div class="form-row__label">
                <label for="database-password">Database Password</label>
                <span class="form-row__mandatory">*</span>
            </div>
            <div class="form-row__input">
                <input type="password" asp-for="DatabasePassword" id="database-password">
            </div>
        </div>
        <div class="form-row form-row--validation @Html.IsInvisible(Model.ShowDatabaseFields)">
            <span asp-validation-for="DatabasePassword" class="form-validation-result"></span>
        </div>

        <div class="form-row @Html.IsInvisible(Model.ShowDatabaseFields)">
            <div class="form-row__label">
                <label for="database-name">Database Name</label>
                <span class="form-row__mandatory">*</span>
            </div>
            <div class="form-row__input">
                <input type="text" asp-for="DatabaseName" id="database-name">
            </div>
        </div>
        <div class="form-row form-row--validation @Html.IsInvisible(Model.ShowDatabaseFields)">
            <span asp-validation-for="DatabaseName" class="form-validation-result"></span>
        </div>

        <div class="form-row">
            <div class="form-row__header">Initial user</div>
        </div>
        <div class="form-row">
            <div class="form-row__label">
                <label for="setup-username">Username</label>
                <span class="form-row__mandatory">*</span>
            </div>
            <div class="form-row__input">
                <input type="text" asp-for="Username" id="setup-username">
            </div>
        </div>
        <div class="form-row form-row--validation">
            <span asp-validation-for="Username" class="form-validation-result"></span>
        </div>

        <div class="form-row">
            <div class="form-row__label">
                <label for="setup-password">Password</label>
                <span class="form-row__mandatory">*</span>
            </div>
            <div class="form-row__input">
                <input type="password" asp-for="Password" id="setup-password">
            </div>
        </div>
        <div class="form-row form-row--validation">
            <span asp-validation-for="Password" class="form-validation-result"></span>
        </div>

        <div class="form-row">
            <div class="form-row__label">
                <label for="setup-password-repeat">Password Repeat</label>
                <span class="form-row__mandatory">*</span>
            </div>
            <div class="form-row__input">
                <input type="password" asp-for="PasswordRepeat" id="setup-password-repeat">
            </div>
        </div>
        <div class="form-row form-row--validation">
            <span asp-validation-for="PasswordRepeat" class="form-validation-result"></span>
        </div>

        <div class="form-row">
            <button type="submit" class="button" id="setup-submit">Setup PostDog</button>
        </div>
    </form>
</div>
