@import 'src/shared/constants/stacking.styles';
@import 'src/shared/constants/colours.styles';

.document-modal {
    &__backdrop {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #485460;
        filter: opacity(85%);
        z-index: $document-detail-backdrop;
    }

    &__body {
        display: flex;
        position: fixed;
        top: 1.5em;
        bottom: 1.5em;
        left: 20vw;
        right: 20vw;

        z-index: $document-detail-modal-container;
    }

    &__close {
        position: absolute;
        right: 0.5em;
        top: 0;
        color: $close-modal-button-hover;

        &::after {
            content: '\00D7';
            cursor: pointer;
            font-size: 2rem;
        }
        &:hover {
            color: $close-modal-button;
        }
    }
}

.document-detail {
    padding: 0.5em;
    flex: 70%;
    background-color: whitesmoke;
    border-radius: 0.25em;
    position: relative;
}

.document-image {
    overflow: auto;
}

.document-image--thumbnail {
    margin-bottom: 1em;
    
    &:hover {
        box-shadow: 0 0 2px 2px $primary;
    }
    
}

.document-pages {
    margin-left: 1em;
    padding: 1em;
    overflow-y: auto;
    flex: 30%;
    background-color: whitesmoke;
    border-radius: 0.25em;
}

.document__button-list {
    position: absolute;
    margin-left: -2.75em;
    .action {
        margin-left: 0;
        margin-bottom: 0.33em;
    }
}

.document__page {
    overflow-y: auto;
    max-height: 100%;
    margin-right: -0.45em;
}

.document__zoom {
    position: absolute;
    bottom: 0.5em;
    left: 1em;
}

.document__zoom > select {
    background-color: transparent;
    border: none;
    outline: none;
}

.document__pagination {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0.5em;
    left: 1em;
    right: 1em;
}
