.nav-area {
  flex: 1;
  display: flex;
  padding: 1.5em 0;
  justify-content: center;
}

.nav-logo {
  background-color: whitesmoke;
  border-radius: 100%;
  min-width: 96px;
  min-height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}