@import 'src/shared/constants/colours.styles';
.search-input-group {
    border-bottom: 1px solid #d2dae2;
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.search-input-group--final {
    border-bottom: 0.1em solid #d2dae2;
    align-items: center;
}

.search-input-group--space {
    margin-bottom: 1.5em;
}

.search-input {
    border: none;
    background-color: whitesmoke;
    font-size: 1.5rem;
    flex: 1;

    &:focus {
        outline: none;
    }
    
    &--docs {
        font-size: 1rem;
    }
    
    &--space {
        padding-bottom: 0.25em;
    }
}

.search-tag {
    list-style: none;
    padding: 0;
    margin: 0 0.25em 0 0;
    display: flex;
    font-size: 0.66rem;
    
    > li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.25em;
        background-color: $primary;
        color: whitesmoke;
        border-radius: 0.25em;
        user-select: none;
    }
    
    > li + li {
        margin-left: 0.25em;
    }
    
    &__close::after {
        margin-left: 0.25em;
        font-size: 0.85rem;
        content: '\00D7';
        cursor: pointer;
        flex: 1;
    }
    
    &__close:hover::after {
        color: #333;
    }
}


