.action {
  padding: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--sidenav-back-colour);
  min-width: 2em;
  min-height: 2em;
  transition: 200ms;
}

.action:hover {
  background-color: var(--primary);
  transform: scale(1.1);
}

.action:hover .ms-Icon {
  transition: 200ms;
  transform: scale(1.1);
}

.action + .action {
  margin-left: 0.33em;
}

.action-list {
  display: flex;
  align-items: center;
}

.action-list .action {
  margin-left: 0.33em;
}
