/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 100%;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

:root {
    box-sizing: border-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (max-width: 35em) {
    :root {
        font-size: calc(1vw + 0.65em);
    }
}

@media (max-width: 50em) {
    :root {
        font-size: calc(1vw + 0.5em);
    }
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
}

code {
    font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    max-width: 100%;
}
