.button {
    color: var(--font-color);
    background-color: var(--default-button-colour);
    padding: 1em;
    min-width: 5em;
    border: none;
    border-radius: 0.25em;
    transition: 200ms ease;
}

.button:hover {
    background-color: var(--primary);
    color: var(--background-colour);
}

.button:active {
    background-color: var(--primary-active);
}

.button:focus {
    outline: none;
}

.button--primary {
    background-color: var(--primary-active);
}

.button--secondary {
    background-color: var(--secondary);
}

.button--danger {
    background-color: orangered;
}

.button--warning {
    background-color: red;
}

.button.is-loading {
    position: relative;
    color: transparent;
}

.button.is-loading::after {
    position: absolute;
    content: "";
    display: block;
    width: 1.4em;
    height: 1.4em;
    top: 50%;
    left: 50%;
    margin-left: -0.7em;
    margin-top: -0.7em;
    border-top: 2px solid white;
    border-radius: 50%;
    animation: spin 0.66s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
