:root {
    --sidenav-back-colour: #d2dae2;
    --primary: hsl(200, 31%, 60%);
    --primary-active: hsl(200, 31%, 50%);
    --secondary: #d2dae2;
    --sidebar-button-active: #485460;
    --close-modal-button: #485460;
    --close-modal-button-hover: #d2dae2;
    --underline: #d2dae2;
    --default-button-colour: #d2dae2;
    --font-color: #444;
    --background-colour: whitesmoke;
}
