.content-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.content-panel {
    background-color: #d2dae2;
    border-radius: 0.5em;
    padding: 1em;
    overflow-y: auto;
    flex: 1;
}

.content-panel--left-top-radius-deactivate {
    border-top-left-radius: 0;
}

.content-panel--semi {
    max-width: 50%;
}
