.new-document-modal__backdrop {
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background-color: #485460;
     filter: opacity(85%);
     z-index: var(--document-detail-backdrop);
 }

.new-document-modal__body {
     position: fixed;
     top: 10%;
     bottom: 10%;
     left: 25%;
     right: 25%;
     background-color: whitesmoke;
     z-index: var(--document-detail-modal-container);
     border-radius: 0.25em;
     padding: 1em;
     display: flex;
     flex-direction: column;
 }

.new-document-modal__close {
    position: absolute;
    right: 0.5em;
    top: 0;
    color: var(--close-modal-button-hover);
}

.new-document-modal::after {
     content: '\00D7';
     cursor: pointer;
     font-size: 2rem;
 }
.new-document-modal:hover {
     color: var(--close-modal-button);
 }

.new-document-modal h4 {
    margin-top: 0;
}

.new-document-panel {
    padding: 0.5em;
    overflow-y: auto;
    flex: 70%;
    background-color: whitesmoke;
    border-radius: 0.25em;
    position: relative;
}

.new-document-form {
    flex: 1;
    max-height: calc(100% - 2em);
    display: flex;
    flex-direction: column;
}

.new-document-form__button-list {
    display: flex;
    justify-content: flex-start;
}

.new-document-form__button-list > button + button {
    margin-left: 1em;
}

.drag-n-drop {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    flex-wrap: wrap;
}

.drag-n-drop.hasEntry {
     display: block;
 }

.drag-n-drop.hasEntry > input[type='file'] {
    display: none;
}

.drag-n-drop__zone {
    font-size: 4rem;
    color: #888888;
    cursor: pointer;
    border-radius: 50%;
    padding: 0.125em;
    border: 2px dashed #ccc;
}
.drag-n-drop__zone:hover,
.drag-n-drop__zone.highlight {
     color: #485460;
 }

.file-entry {
    align-self: flex-start;
    min-width: 100%;
    background-color: whitesmoke;
    margin-bottom: 1px;
    position: relative;
}

.file-entry:nth-child(even) {
     background-color: #dfe6e9;
 }

.file-entry:hover {
     background-color: var(--primary);
     color: whitesmoke;
 }

.file-entry__name {
     padding: 0.25em;
 }

.file-entry__progressbar {
     border-bottom: 2.5px solid var(--primary-active);
     animation-name: progress;
     animation-duration: 2s;
     animation-delay: 1s;
     animation-fill-mode: backwards;
     margin: 0;
 }

.file-entry__cancel {
     position: absolute;
     top: 0;
     right: 0.25em;
 }

.file-entry__cancel::after {
     content: '\00D7';
     cursor: pointer;
     font-size: 1.25rem;
     color: #485460;
 }

.file-entry__cancel:hover::after {
     color: whitesmoke;
 }

.file-entry__progressbar:nth-child(even) {

}

@keyframes progress {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
