.search-input-group {
    border-bottom: 1px solid #d2dae2;
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.search-input-group--final {
    border-bottom: 0.1em solid #d2dae2;
    align-items: center;
}

.search-input-group--space {
    margin-bottom: 1.5em;
}

.search-input {
    border: none;
    background-color: whitesmoke;
    font-size: 1.5rem;
    flex: 1;
}

.search-input:focus {
    outline: none;
}

.search-input--docs {
    font-size: 1rem;
}

.search-input--space {
    padding-bottom: 0.25em;
}

.search-tag {
    list-style: none;
    padding: 0;
    margin: 0 0.25em 0 0;
    display: flex;
    font-size: 0.66rem;
}

.search-tag > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em;
    background-color: var(--primary);
    color: whitesmoke;
    border-radius: 0.25em;
    user-select: none;
}

.search-tag > li + li {
    margin-left: 0.25em;
}

.search-tag__close::after {
    margin-left: 0.25em;
    font-size: 0.85rem;
    content: "\00D7";
    cursor: pointer;
    flex: 1;
}

.search-tag__close:hover::after {
    color: #333;
}

.form-row {
    display: flex;
    padding: 0.5em;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.is-invisible {
    visibility: collapse;
}

.form-row__label {
    min-width: 10em;
}

.form-row + .form-row {
    margin-top: 0.125em;
}

.form-row__header {
    font-weight: bold;
    border-bottom: 1px solid var(--primary);
    width: 100%;
}

.form-row + .form-row > .form-row__header {
    margin-top: 1em;
}

.form-row__mandatory {
    width: 0.5em;
    font-weight: bold;
    color: red;
}

.form-row__label + .form-row__input {
    width: 25%;
}

.form-row__input input,
.form-row__input select {
    padding: 0.25em;
    min-width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #d2dae2;
    background-color: whitesmoke;
}

.form-row + .form-row--validation {
    margin-top: 0;
    padding: 0;
}

.form-validation-result {
    color: red;
    font-weight: bold;
    font-size: 0.75rem;
    transform: translateY(-0.5em);
}
