.fabric-ui-icon--mini {
    font-size: 1.25rem;
}

.fabric-ui-icon--more {
    display: inline-block;
    margin-left: 0.25em;
    margin-bottom: 0.1em;
    padding: 0;
    font-size: 1rem;
    vertical-align: bottom;
}

.fabric-ui-icon--progress {
    display: inline-block;
    cursor: default;
}
