.grid-container {
    display: grid;
    grid-template-columns: [sidebar] 7.5em [main] 1fr;
    grid-template-rows: 1fr;
    min-height: 100vh;
}

.main-grid {
    grid-column: main;
    background-color: var(--background-colour);
    padding: 1.5em;
    display: flex;
}

.sidenav-grid {
    grid-column: sidebar;
    background-color: var(--sidenav-back-colour);
}

.setup-container {
    margin: 0 auto;
    width: 66%;
    padding: 1em;
    border-radius: 5px;
    flex-grow: 1;
    background-color: var(--background-colour);
}

.placeholder-dialog {
    position: fixed;
}
