.sidenav-grid ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-area {
    flex: 1;
    display: flex;
    padding: 1.5em 0;
    justify-content: center;
}

.nav-logo {
    background-color: whitesmoke;
    border-radius: 100%;
    min-width: 96px;
    min-height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button {
    display: flex;
    flex-flow: column;
    padding: 0.5em 0;
    align-items: center;
}

.nav-button--active {
    background-color: var(--primary-active);
}

.nav-button__icon {
    background-color: whitesmoke;
    border-radius: 100%;
    min-width: 64px;
    min-height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms;
}

.nav-button__icon .ms-Icon {
    color: #444;
    cursor: pointer;
    transition: all 250ms ease;
    padding: 0.25em;
    font-size: 2rem;
}

.nav-button__description {
    margin-top: 0.5em;
    font-size: 0.85rem;
    cursor: pointer;
}

.nav-button:hover {
    background-color: var(--primary);
}

.nav-button:hover .ms-Icon {
    transform: scale(1.2);
}
