.documents-page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.setup-page {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    background: radial-gradient(whitesmoke 0%, #485460 100%);
}
