.documents-table {
    background-color: whitesmoke;
    min-width: 100%;
    border-collapse: collapse;
}

.documents-table .action-list {
    display: none;
}

.documents-table th {
    text-align: left;
    border-bottom: 1px solid #485460;
    padding: 0.5em;
    background-color: #dfe6e9;
}

.documents-table td {
    padding: 0.25em 0.5em;
    border-bottom: 2.5px solid #d2dae2;
    line-height: 1.85;
    user-select: none;
}

.documents-table td:last-child {
    min-width: 3em;
    max-width: 3em;
}

.documents-table td:nth-child(2) {
    min-width: 6em;
    max-width: 6em;
}

.documents-table tbody tr:nth-child(even) {
    background-color: #dfe6e9;
}

.documents-table tbody tr:hover {
    background-color: var(--primary);
    color: whitesmoke;
}

.documents-table tbody tr:hover .action-list {
    display: flex;
    justify-content: flex-end;
}

.tag {
    background-color: var(--primary);
    border: 1px solid var(--primary-active);
    padding: 0 0.25em;
    font-size: 0.66rem;
    color: whitesmoke;
    border-radius: 0.25em;
    display: inline-block;
    margin-right: 0.25em;
    font-weight: 400;
    cursor: default;
    user-select: none;
}

.tag.is-active {
    background-color: var(--primary-active);
}
