@import 'src/shared/constants/colours.styles';

.setup-page {
  position: fixed;
  background: radial-gradient(whitesmoke 0%, #485460 100%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.setup__panel {
  position: absolute;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  min-width: 25%;
  min-height: 66%;
  
  &-header {
    background-color: #444444;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    min-height: 7.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
  }
  
  &-progress-nav {
    min-height: 3em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $secondary;
    
    > div {
      display: flex;
      align-items: center;
      cursor: default;
    }
  }
  
  &-form {
    padding: 1em;
  }
}

.database-types {
  display: flex;
  justify-content: space-evenly;
}