<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="dist/fabric.min.css" >
</head>
<body>
<div class="grid-container">
    <partial name="_Navigation"/>
    <div class="main-grid">
        @RenderBody()
    </div>
</div>
<div id="placeholder" class="placeholder-dialog"></div>
</body>
</html>
