<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="dist/fabric.min.css" >
<link href="dist/main.57db12e1849d2fe328cc.css" rel="stylesheet"></head>
<body>
<div class="grid-container">
    <partial name="_Navigation"/>
    <div class="main-grid">
        @RenderBody()
    </div>
</div>
<div id="placeholder" class="placeholder-dialog"></div>
<script src="dist/runtime.b438b4ffec850315c5b9.js"></script><script src="dist/main.3c1c20747d11180ee6c1.js"></script><script src="dist/vendors.7f0c32a4819009249ff6.js"></script></body>
</html>
