<nav class="sidenav-grid">
    <ul>
        <li>
            <div class="nav-area">
                <a asp-controller="Home" class="nav-logo">
                    LOGO
                </a>
            </div>
        </li>
        <li>
            <a asp-controller="Documents" isactive class="nav-button">
                <div class="nav-button">
                    <div class="nav-button__icon">
                        <div class="ms-Icon ms-Icon--Script" aria-hidden="true"></div>
                    </div>
                    <div className="nav-button__description">@ApplicationLabels.LABEL_NAV_DOCUMENTS</div>
                </div>
            </a>
        </li>
        <li>
            <a asp-controller="Process" isactive class="nav-button">
                <div class="nav-button">
                    <div class="nav-button__icon">
                        <div class="ms-Icon ms-Icon--Processing" aria-hidden="true"></div>
                    </div>
                    <div class="nav-button__description">@ApplicationLabels.LABEL_NAV_PROCESSES</div>
                </div>
            </a>
        </li>
        <li>
            <a asp-controller="User" isactive class="nav-button">
                <div class="nav-button">
                    <div class="nav-button__icon">
                        <div class="ms-Icon ms-Icon--Contact" aria-hidden="true"></div>
                    </div>
                    <div class="nav-button__description">@ApplicationLabels.LABEL_NAV_USER</div>
                </div>
            </a>
        </li>
        <li>
            <a asp-controller="Settings" isactive class="nav-button">
                <div class="nav-button">
                    <div class="nav-button__icon">
                        <div class="ms-Icon ms-Icon--Settings" aria-hidden="true"></div>
                    </div>
                    <div class="nav-button__description">@ApplicationLabels.LABEL_NAV_SETTINGS</div>
                </div>
            </a>
        </li>
    </ul>
</nav>