<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@ApplicationLabels.TITLE_POSTDOG</title>
    <link href="dist/main.57db12e1849d2fe328cc.css" rel="stylesheet"></head>
    <body class="setup-page">

    @RenderBody()

    <script src="dist/runtime.b438b4ffec850315c5b9.js"></script><script src="dist/main.3c1c20747d11180ee6c1.js"></script><script src="dist/vendors.7f0c32a4819009249ff6.js"></script></body>
</html>