@import 'src/shared/constants/colours.styles';

.process-page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.processes__table {
    background-color: whitesmoke;
    min-width: 100%;
    border-collapse: collapse;

    th {
        text-align: left;
        border-bottom: 1px solid #485460;
        padding: 0.5em;
        background-color: #dfe6e9;
    }

    td {
        padding: 0.25em 0.5em;
        border-bottom: 2.5px solid #d2dae2;
        line-height: 1.85;
        cursor: default;
        user-select: none;

        &:last-child {
            min-width: 3em;
            max-width: 3em;
        }

        &:nth-child(3) {
            max-width: 4em;
        }
    }

    tbody tr:nth-child(even) {
        background-color: #dfe6e9;
    }

    tbody tr:hover {
        background-color: $primary;
        color: whitesmoke;
    }
}

.process__progress {
    max-height: 0.75em;
    color: $primary;
    background-color: whitesmoke;
    border: 1px solid $secondary;
    border-radius: 0.5em;
}

.process__progress::-webkit-progress-value {
    color: $primary;
    background-color: $primary-active;
    border: 1px solid $secondary;
    border-radius: 0.5em;
}

.process__progress::-webkit-progress-bar {
    border-radius: 0.5em;
    background-color: whitesmoke;
}

.process__progress::-moz-progress-bar {
    border-radius: 0.5em;
    background-color: $primary-active;
}

.content-tabs ul {
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
        display: inline-block;
        user-select: none;
        cursor: pointer;
        background-color: darken($secondary, 5%);
        min-width: 10em;
        padding: 0.5em 1em;
        text-align: center;
        border-top-left-radius: 0.25em;
        border-top-right-radius: 0.25em;
    }

    > li.active-tab {
        background-color: $secondary;
        text-decoration: underline;
    }

    > li:not(.active-tab) {
        box-shadow: 0 -1px 4px -2.5px inset darken($secondary, 17.5%);
    }

    > li:not(.active-tab):hover {
        background-color: darken($secondary, 2.5%);
    }

    > li + li {
        margin-left: 0.25em;
    }
}

.processes__container + .processes__container {
    margin-top: 1em;
}
