@import 'src/shared/constants/colours.styles';

.nav-button {
    display: flex;
    flex-flow: column;
    padding: 0.5em 0;
    align-items: center;

    &--active {
        background-color: $primary-active;
    }

    &__icon {
        background-color: whitesmoke;
        border-radius: 100%;
        min-width: 64px;
        min-height: 64px;

        display: flex;
        justify-content: center;
    }

    &__description {
        margin-top: 0.5em;
        font-size: 0.85rem;
        cursor: pointer;
    }
}

.nav-button:hover {
    background-color: $primary;
    color: whitesmoke;

    .fabric-ui-icon--nav {
        transform: scale(1.2);
    }
}