@{
    const string uploadId = "document-upload-id";
}

<div class="content-header">
    <div class="search-input-group">
        <input type="text" placeholder="Type to start search" class="search-input"/>
    </div>

    <div class="action-list">
        <div class="action">
            <div class="ms-Icon ms-Icon--FolderHorizontal" aria-hidden="true"></div>
        </div>

        <div class="action">
            <div class="ms-Icon ms-Icon--LightningBolt" aria-hidden="true"></div>
        </div>

        <div class="action" id="@uploadId">
            <div class="ms-Icon ms-Icon--OpenFile" aria-hidden="true"></div>
        </div>
    </div>
</div>
