<div class="content-panel">
    <table class="documents-table">
        <colgroup>
            <col/>
            <col/>
            <col/>
            <col/>
            <col/>
            <col/>
        </colgroup>
        <thead>
        <tr>
            <th>From</th>
            <th>
                Tags
                <div class="ms-Icon ms-Icon--MoreVertical"></div>
            </th>
            <th>Description</th>
            <th>Date</th>
            <th>Pages</th>
            <th>&nbsp</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>Amazon</td>
            <td>
                <div class="tag">Invoice</div>
            </td>
            <td>Invoice for new Samsung Galaxy</td>
            <td>2020-01-01</td>
            <td>1</td>
            <td>
                <div class="action-list">
                    <div class="action action--mini">
                        <FontIcon iconName="Edit" class="fabric-ui-icon"/>
                    </div>

                    <div class="action action--mini action--danger">
                        <FontIcon iconName={deleteState} class="fabric-ui-icon"/>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>