<label for="from-search-id">FROM</label>
<div class="search-input-group search-input-group--space">
    <input id="from-search-id" type="text" placeholder="..." class="search-input search-input--docs" list="data" />
    <datalist id="data">
        <option value="Hello"/>
    </datalist>
</div>

<label for="enter-tags-id">TAGS</label>
<div class="search-input-group search-input-group--space">
    <ul class="search-tag">
        <li>
            <span>Tag</span>
            <div class="search-tag__close"></div>
        </li>
    </ul>

    <input id="enter-tags-id" type="text" placeholder="..." class="search-input search-input--docs" list="tag-data"/>
    <datalist id="tag-data">
        <option value="value1"/>
    </datalist>
</div>

<label for="description-id">DESCRIPTION</label>
<div class="search-input-group search-input-group--space">
    <input id="description-id" type="text" placeholder="..." class="search-input search-input--docs" />
</div>

<label for="virtual-path-id">PATH</label>
<div class="search-input-group search-input-group--final">
    <div class="ms-Icon ms-Icon--FolderList" aria-hidden="true"></div>
    <i class="ms-Icon ms-Icon--List" aria-hidden="true"></i>
    <input id="virtual-path-id" type="text" placeholder="/" class="search-input search-input--docs" />
</div>
