<div class="new-document-modal">
    <div class="new-document-modal__backdrop"></div>
    <div class="new-document-modal__body">
        <div class="document-modal__close"></div>
        <h4>Create New File</h4>
        <form class="new-document-form" enctype="multipart/form-data">
            <partial name="_modalFields"/>
            <div class="drag-n-drop">
                <input type="file" multiple />
                <div class="ms-Icon ms-Icon--CloudAdd drag-n-drop__zone" aria-hidden="true"></div>
            </div>

            <div class="new-document-form__button-list">
                <button class="button">SUBMIT</button>
                <button class="button">CANCEL</button>
            </div>
        </form>
    </div>
</div>
